node_modules

# Go
back/hitori

# Terraform
infra/**/.terraform
infra/**/*.tfstate
infra/**/*.tfstate.backup
infra/**/.terraform.lock.hcl
infra/**/terraform.tfvars

# Supabase
supabase/.branches
supabase/.temp

# OS
.DS_Store

# Env
.env
.env.local
